<div class="container">
  <div class="row">
    <div class="col text-center">
      <h3>my page</h3>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="mx-auto col-lg-5">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>氏名</th>
            <td>
              <%= @customer.last_name %>
              <%= @customer.first_name %>
            </td>
          </tr>
          <tr>
            <th>フリガナ</th>
            <td>
              <%= @customer.last_name_kana %>
              <%= @customer.first_name_kana %>
            </td>
          </tr>
          <tr>
            <th>ユーザー名</th>
            <td>
              <%= @customer.user_name %>
            </td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td>
              <%= @customer.email %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mt-4">
    <div class="mx-auto">
      <%= link_to "編集する", customers_information_edit_path, class: "btn btn-success mr-4" %>
      <%= link_to "退会する", customers_unsubscribe_path, class: "btn btn-danger ml-4" %>
    </div>
  </div>

  <div class="row mx-auto mt-4">
    <div class="col">
    <%= link_to "いいね一覧", recipe_bookmarks_customer_path(@customer), class: "btn btn-warning" %>
    </div>
  </div>

  <div class="row mx-auto mt-4">
    <div class="col">
    <%= link_to "下書き一覧", draft_path, class: "btn btn-secondary" %>
    </div>
  </div>

  <div class="row mx-auto mt-4">
    <div class="col">
    <%= link_to "レシピ投稿履歴", history_path, class: "btn btn-info" %>
    </div>
  </div>
</div>
