<h1>編集ページ</h1>

<%= form_with model: @recipe do |f| %>

  <p>画像</p>
  <%= f.file_field :image, accept: "image/*" %>
  
  <p>レシピ名</p>
  <%= f.text_field :name %>

  <p>紹介文</p>
  <%= f.text_area :introduction %>
  
  <p>材料・分量</p>
  <%= f.text_field :material %>
  
  <p>調理時間</p>
  <%= f.text_field :cooktime %>
  
  <p>調理手順</p>
  <%= f.text_area :procedure, size: "40x20" %>
  
  <p>カテゴリー</p>
  <%= f.collection_select(:category_id, Category.all, :id, :name) %>

  <div>
    <%= f.submit '編集する' %>
  </div>
  

<% end %>

<% if @recipe.customer == current_customer %>
  <%= link_to "削除", recipe_path(@recipe.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>
