<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2>レシピ一覧</h2>
    </div>
  </div>

  <div class="row mt-5">

    <div class="col-lg-3 col-xs-12">
      <%= render 'public/categories/sidebar', categories: @categories %>
    </div>

    <div class="col-lg-9 col-xs-12">
      <div class="row">
        <div class="col-lg-6">
          <%= form_with model: @recipe, url: recipes_path, method: :get, local: true do |form| %>
          <%= form.select :keyword, [ ['新しい順', 'latest'],
                            ['古い順', 'old'],
                            ['いいね順', 'recipe_bookmarks'],
                            ['コメント順', 'recipe_comments'],
                          ] %>
          <%= form.submit '検索' %>
          <% end %>
        </div>
      </div>
      <div class="row mt-3">
        <% @recipes.each do |recipe| %>
          <div class="col-lg-4 mb-4">
            <%= image_tag recipe.image, size: "250x200" %>
            <div class="col-lg-12 col-xs-12">
              <%= link_to recipe.name, recipe_path(recipe) %>
            </div>
            <div class="text-center">
              ♥<%= recipe.recipe_bookmarks.count %>
              :コメント<%= recipe.recipe_comments.count %>件
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="mx-auto">
      <%= paginate @recipes %>
    </div>
  </div>
</div>