<h1>レシピ詳細</h1>

<p>画像</p>
<%= image_tag @recipe.image, size: "250x200" %>

<p>レシピ名</p>
<%= @recipe.name %>

<p>紹介文</p>
<%= @recipe.introduction %>

<p>材料・分量</p>
<%= @recipe.material %>

<p>調理時間</p>
<%= @recipe.cooktime %>

<p>調理手順</p>
<%= @recipe.procedure %>

<% @recipe.categories.each do |category| %>
    <%= category.name %>
<% end %>

<% if @recipe.recipe_bookmarked_by?(current_customer) %>
  <p>
    <%= link_to recipe_recipe_bookmarks_path(@recipe), method: :delete do %>
      ♥<%= @recipe.recipe_bookmarks.count %> いいね
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to recipe_recipe_bookmarks_path(@recipe), method: :post do %>
      ♡<%= @recipe.recipe_bookmarks.count %> いいね
    <% end %>
  </p>
<% end %>

<% if customer_signed_in? && current_customer.id == @recipe.customer_id %>
<%= link_to "編集する", edit_recipe_path(@recipe) %>
<% end %>