<div>
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h3 class="mt-3 mb-3"><%= @recipe.name %></h3>
      <p class="mt-3 mb-5"><%= @recipe.introduction %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5">
      <%= image_tag @recipe.image, size: "350x290" %>
    </div>

    <div class="col-lg-7">
      <div class="row">
        <p class="pr-5">
          <strong>材料・分量</strong>
        </p>
        <div id="materials">
        <% @recipe.materials.each do |material| %>
          <li class="material__ul">
            <%= material.name %>
            <%= material.amount %>
          </li>
        <% end %>
        </div>
      </div>

      <div class="row mt-4">
        <p class="pr-5">
          <strong>調理時間</strong>
        </p>
        <%= @recipe.cooktime %>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <h4>調理手順</h4>
  </div>

  <div class="row justify-content-center mt-1">
    <div class="col-lg-12 col-12">
      <div class="procedure__ul">
        <ol>
          <% @recipe.procedures.each do |procedure| %>
            <li><%= procedure.body %></li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>

  <div class="row text-right mt-5">
    <p>投稿者：<%= @recipe.customer.user_name %>さん</p>
  </div>

  <div class="row mt-5">
    <div id="recipe_bookmark_buttons_<%= @recipe.id %>">
      <%= render "public/recipe_bookmarks/recipe_bookmark", recipe: @recipe %>
    </div>
  </div>

  <% if customer_signed_in? %>
    <div class="row">
      <p>コメント件数：<%= @recipe.recipe_comments.count %></p>
    </div>

    <div class="px-5">
      <% @recipe.recipe_comments.each do |recipe_comment| %>
      <div>
        <%= recipe_comment.created_at.strftime('%Y/%m/%d') %>
        <%= recipe_comment.customer.user_name %>
        <%= recipe_comment.comment %>
        <% if recipe_comment.customer == current_customer %>
          <%= link_to "削除", recipe_recipe_comment_path(recipe_comment.recipe, recipe_comment), method: :delete, "data-confirm" => "本当に削除しますか？" %>
        <% end %>
      </div>
      <% end %>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-lg-12 col-12">
        <%= form_with model: [@recipe, @recipe_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", size:'60 x 2', class:'p-2' %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="row mt-5 mb-5">
    <% if customer_signed_in? && current_customer.id == @recipe.customer_id %>
    <%= link_to "編集する", edit_recipe_path(@recipe), class: "btn btn-success" %>
    <% end %>
  </div>
</div>
