<div class="jumbotron" style="background-image: url(<%= image_url 'チョコレート背景.jpg' %>); background-size: cover; height: 400px">
  <div class="container">
    <h1 class="display-5 mt-5">Welcome to Chocobook</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <p>本サイトはチョコレート専門のレシピ投稿サイトとなっております<br />
          閲覧は登録不要で可能ですが、
          会員登録していただきますと、レシピ投稿やコメントをすることが出来ます。<br />
          まずは<%= link_to 'ログイン', new_customer_session_path%>画面からゲストログインでお試しください。
      </p>
    </div>
  </div>

  <div class="container" style="border-bottom: 8px solid #d3d3d3;">
    <div class="row justify-content-center">
      <div class="col text-center mt-5 mb-4">
        <i class="fas fa-mug-hot"></i><%= link_to "チョコレートについて", about_path %>
      </div>
      <div class="col text-center mt-5 mb-4">
        <i class="fas fa-book"></i><%= link_to "レシピ一覧", recipes_path %>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-3">
      <%= render 'public/categories/sidebar', categories: @categories %>
    </div>


    <div class="col-lg-8">
      <div class="newrecipe-box" style="width: 850px">
        <div class="row justify-content-center">
          <div class="col-lg-4 offset-lg-1 col-9">
            <h3 class="newbox">新着レシピ</h3>
          </div>
        </div>

        <div class="row mt-3" style="display: flex; flex-direction: row-reverse;">
          <% @recipes_new.last(3).each do |recipe| %>
            <div class="col-lg-4 mx-auto col-xs-4" style="margin-right: 10px;">
              <% if recipe.image.attached? %>
              <%= image_tag recipe.image, size: "250x200" %>
              <% end %>
              <div class="col-lg-12 col-xs-12">
                <%= link_to recipe.name, recipe_path(recipe) %>
              </div>
            </div>
          <% end %>
        </div>


        <div class="row justify-content-end mt-5">
          <div class="col-lg-12 col-sm-12">
            <%= link_to "もっと詳しく見る", recipes_path %>
          </div>
        </div>
      </div>

      <div class="rankingrecipe-box" style="width: 850px">
        <div class="row justify-content-center mt-5">
          <div class="col-lg-4 offset-lg-1 col-10">
            <h3>ランキング発表</h3>
          </div>
        </div>

        <div class="row mt-3">
          <% @recipes_rank.take(3).each.with_index(1) do |recipe, i| %>
            <div class="col-lg-4 col-sm-12 mx-auto" style="margin-right: 10px;">
              <div class="col-sm-12"><i class="fas fa-crown"></i> 第<%= i %>位</div>
              <%= image_tag recipe.image, size: "250x200" %>
              <div class="col-sm-12">
                <%= link_to recipe.name, recipe_path(recipe) %>
              </div>
              <div class="col-sm-12">
                ♥<%= recipe.recipe_bookmarks.count %> いいね
              </div>
            </div>
          <% end %>
        </div>

        <div class="row justify-content-end mt-5">
          <div class="col-lg-12 col-sm-12">
            <%= link_to "もっと詳しく見る", rank_path %>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>


