<h1>会員の詳細ページ</h1>

<P>氏名</P>
<%= @customer.last_name %>
<%= @customer.first_name %>

<p>フリガナ</p>
<%= @customer.last_name_kana %>
<%= @customer.first_name_kana %>

<p>ユーザー名</p>
<%= @customer.user_name %>

<p>メールアドレス</p>
<%= @customer.email %>

<p>会員ステータス</p>
<% if @customer.is_deleted == false %>
有効
<% else %>
退会済み
<% end %>

<p><%= link_to "編集する", edit_admin_customer_path(@customer) %></p>