<div class="notice"><%= notice %></p>
<div class="alert"><%= alert %></p>
<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light py-4 mb-0">ユーザーログイン</h5>
      <div class="form-body p-4">

        <div class="mx-auto text-center">
            <!-- ここからを追加 -->
            <p>メールアドレスと<br>パスワードを入力してください。</p>
            <!-- ここまでを追加 -->
        <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
          <div class="input-group mb-3">
            <!-- ここからを追加 -->
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-user"></i></span>
            </div>
            <%= f.text_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
            <!-- ここまでを追加 -->
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-lock"></i></span>
            </div>
            <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword", placeholder:"パスワード" %>
          </div>
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :パスワードを保存 %>
              </div>
            <% end %>
          <%= f.submit "ログイン", class:"btn btn-lg btn-block btn-info" %>
        <% end %>
        <div class="mt-3"><%= link_to 'ゲストログイン', customers_guest_sign_in_path, method: :post, class:"btn but-lg btn-block btn-success" %></div>
       </div>
   　 </div>
  　</div>
  </div>

  <div class="row mx-auto justify-content-center">
    <p>会員登録がお済でない方は<%= link_to "こちら", new_customer_registration_path %>から会員登録をお願いします。</p>
  </div>

  <div class="row">
    <div class="col text-right">
      <p>※管理者の方は<%= link_to "こちら", new_admin_session_path %>からログインを行ってください※</p>
    </div>
  </div>
</div>
