<!DOCTYPE html>
<html>
  <head>
    <title>Chocobook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/bc00d7c68b.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <div>
            <% if admin_signed_in? %>
              <%= link_to admin_root_path do %>
                <%= image_tag("チョコロゴ.jpg", style: "width: 200px; height: auto;") %>
              <% end %>
              <% elsif customer_signed_in? %>
              <%= link_to root_path do %>
                <%= image_tag("チョコロゴ.jpg", style: "width: 200px; height: auto;") %>
              <% end %>
              <% else %>
              <%= link_to root_path do %>
                <%= image_tag("チョコロゴ.jpg", style: "width: 200px; height: auto;") %>
              <% end %>
            <% end %>
          </div>
          <div class="col-lg-6 mt-2">
            <% if customer_signed_in? %>
            ようこそ、<%= current_customer.last_name + current_customer.first_name %>さん！
            <% end %>
            <%= form_with url: search_path, method: :get, local: true do |f| %>
              <%= f.text_field :keyword,placeholder: "キーワードで検索", class: "search-text" %>
              <%= f.submit '検索' %>
            <% end %>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="col-lg-5">
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
              <ul class="navbar-nav mt-3">
                <% if admin_signed_in? %>
                  <li class="nav-item"><%= link_to 'レシピ一覧',  admin_recipes_path, class: 'nav-link text-dark' %></li>
                  <li class="nav-item"><%= link_to 'カテゴリ一覧',  admin_categories_path, class: 'nav-link text-dark' %></li>
                  <li class="nav-item"><%= link_to 'コメント一覧',  admin_recipe_comments_path, class: 'nav-link text-dark' %></li>
                  <li class="nav-item"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %></li>
                <% elsif customer_signed_in? %>
                  <li class="nav-item"><%= link_to 'マイページ', customers_my_page_path, class: 'nav-link text-dark' %></li>
                  <li class="nav-item"><%= link_to 'レシピ投稿', new_recipe_path, class: 'nav-link text-dark' %></li>
                  <li class="nav-item"><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %></li>
                <% else %>
                  <li class="nav-item"><%= link_to '新規会員登録', new_customer_registration_path, class: 'nav-link text-dark' %></li>
                  <li class="nav-item"><%= link_to 'ログイン', new_customer_session_path, class: 'nav-link text-dark' %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>Copyright chocobook All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>